#particles-js {
    /* background: black; */
    /* background-size: cover; */
    height: 110vh;
}
#particles1-js {
    /* background: black; */
    /* background-size: cover; */
    /* height: 80vh; */
}
.front{

    font: 'BLANKA';
}
.Back{

    font: 'BLANKA';
}